<ion-header class="header">

  <h3>SkeletonAPP</h3>

</ion-header>

<ion-content>
  <h1>BIENVENIDO!</h1>

  <h4>Información Adicional</h4>

  <div class="div-info">
    <ion-item>
      <ion-input label="Nombre" labelPlacement="fixed" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Apellido" labelPlacement="fixed"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-select label="Nivel de educación" placeholder="Seleccione nivel">
        <ion-select-option value="basica">Básica</ion-select-option>
        <ion-select-option value="media">Media</ion-select-option>
        <ion-select-option value="superior">Superior</ion-select-option>
      </ion-select>
    </ion-item>
    
  </div>

</ion-content>

<ion-footer class="footer">
  <h5>App desarrollada por Joaquín Rodríguez</h5>
</ion-footer>